openapi: 3.0.1
info:
  title: finecopsd2api
  version: 1.3 Feb 14th 2019
  description: >
    # Summary

    FinecoBank PSD2 APIs are based on **NextGenPSD2** *Framework Version 1.3*
    which offers a modern, open, harmonised and interoperable set of Application
    Programming Interfaces (APIs) as the safest and most efficient way to
    provide data securely. For further details, use cases, and sequence diagrams,
    please refer to [NextGenPSD2 Download page](https://www.berlin-group.org/nextgenpsd2-downloads "NextGenPSD2 Download page")


    The NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the
    problem of multiple competing standards in Europe and, aligned with the
    goals of the Euro Retail Payments Board, enables European banking customers
    to benefit from innovative products and services ('Banking as a Service') by
    granting TPPs safe and secure (authenticated and authorised) access to their
    bank accounts and financial data.
servers:
- url: 'https://sandbox.api.finecobank.com/v1'

paths:
  '/payments/{payment-product}':
    post:
      summary: Payments initiation request
      description: >
        This method is used to initiate a payment at the ASPSP.


        ## Variants of Payment Initiation Requests


        This method to initiate a payment initiation at the ASPSP should be sent
        with a JSON body.


        This is the endpoint for the **payments** payment service:

        There are the following **payment products**:

          - Payment products with payment information in *JSON* format:
            - ***sepa-credit-transfers***
            - ***instant-sepa-credit-transfers***
            - ***target-2-payments***
            - ***cross-border-credit-transfers***


        ## Authorization sub-resource


        Since multi-level SCA is not available, the call to POST
        /v1/{payment-service}/{payment-product} will also internally generate
        the authorization sub-resource with its own authorization ID.


        This allows the TPP to call the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations to
        list all the authorization IDs (only one ID in case of no multi-level SCA),
        and the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}
        to see the status of the specific SCA.
      operationId: initiatePayment
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-ID'
      - $ref: '#/components/parameters/PSU-ID-Type'
      - $ref: '#/components/parameters/PSU-Corporate-ID'
      - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
      - $ref: '#/components/parameters/consentId_HEADER_optional'
      - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
      - $ref: '#/components/parameters/TPP-Redirect-Preferred'
      - $ref: '#/components/parameters/TPP-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Nok-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Explicit-Authorisation-Preferred'
      - $ref: "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentInitiation_json'
            example:
              instructedAmount:
                currency: EUR
                amount: 123.50
              debtorAccount:
                iban: IT31X0301503200000003517230
              creditorName: Walter Bianchi
              creditorAccount:
                iban: DE02100100109307118603
              remittanceInformationUnstructured: causale pagamento
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_PaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/periodic-payments/{payment-product}':
    post:
      summary: Periodic-Payments initiation request
      description: >
        This method is used to initiate a periodic-payment at the ASPSP.


        ## Variants of Payment Initiation Requests


        This method to initiate a payment initiation at the ASPSP should be sent
        with a JSON body.


        This is the endpoint for the **periodic-payments** payment service.

        There are the following **payment products**:

          - Payment products with payment information in *JSON* format:
            - ***sepa-credit-transfers***


        ## Authorization sub-resource


        Since multi-level SCA is not available, the call to POST
        /v1/{payment-service}/{payment-product} will also internally generate
        the authorization sub-resource with its own authorization ID.


        This allows the TPP to call the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations to
        list all the authorization IDs (only one ID in case of no multi-level SCA),
        and the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}
        to see the status of the specific SCA.
      operationId: initiatePeriodicPayment
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-ID'
      - $ref: '#/components/parameters/PSU-ID-Type'
      - $ref: '#/components/parameters/PSU-Corporate-ID'
      - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
      - $ref: '#/components/parameters/consentId_HEADER_optional'
      - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
      - $ref: '#/components/parameters/TPP-Redirect-Preferred'
      - $ref: '#/components/parameters/TPP-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Nok-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Explicit-Authorisation-Preferred'
      - $ref: "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/periodicPaymentInitiation_json'
            example:
              instructedAmount:
                currency: EUR
                amount: '123'
              debtorAccount:
                iban: IT31X0301503200000003517230
              creditorName: Merchant123
              creditorAccount:
                iban: DE23100120020123456789
              remittanceInformationUnstructured: Causale pagamento
              startDate: '2018-03-01'
              endDate: '2018-07-01'
              executionRule: following
              frequency: Monthly
              dayOfExecution: '1'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_PeriodicPaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/payments/{payment-product}/{paymentId}':
    get:
      summary: Get Payment Information
      tags:
      - Payment Initiation Service (PIS)
      description: Returns the content of a payment object
      operationId: getPaymentInformation
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_optional'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_PaymentInitiationInformation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    delete:
      summary: Payment cancellation initiation request
      description: >
        This method is used to initiate a payment cancellaction at the ASPS.


        ## Variants of Payment Cancellction Request


        This is the endpoint for the **payments** payment cancellation service:

        There are the following **payment products**:

          - Payment products with payment information in *JSON* format:
            - ***sepa-credit-transfers***
            - ***target-2-payments***
            - ***cross-border-credit-transfers***


        ## Authorization sub-resource


        Since multi-level SCA is not available, the call to POST
        /v1/{payment-service}/{payment-product} will also internally generate
        the authorization sub-resource with its own authorization ID.


        This allows the TPP to call the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations to
        list all the authorization IDs (only one ID in case of no multi-level SCA),
        and the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}
        to see the status of the specific SCA.
      operationId: initiatePaymentCancellation
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-ID'
      - $ref: '#/components/parameters/PSU-ID-Type'
      - $ref: '#/components/parameters/PSU-Corporate-ID'
      - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
      - $ref: '#/components/parameters/consentId_HEADER_optional'
      - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
      - $ref: '#/components/parameters/TPP-Redirect-Preferred'
      - $ref: '#/components/parameters/TPP-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Nok-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Explicit-Authorisation-Preferred'
      - $ref: "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '202':
          $ref: '#/components/responses/ACCEPTED_202_PaymentCancellationInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/periodic-payments/{payment-product}/{paymentId}':
    get:
      summary: Get Periodic Payment Information
      tags:
      - Payment Initiation Service (PIS)
      description: Returns the content of a periodic payment object
      operationId: getPeriodicPaymentInformation
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_optional'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_PeriodicPaymentInitiationInformation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    delete:
      summary: Periodic-Payments cancellation initiation request
      description: >
        This method is used to initiate a periodic-payment cancellation at the ASPSP.


        ## Variants of Payment Cancellation Initiation Requests


        This is the endpoint for the **periodic-payments** payment service.

        There are the following **payment products**:

          - Payment products with payment information in *JSON* format:
            - ***sepa-credit-transfers***


        ## Authorization sub-resource


        Since multi-level SCA is not available, the call to POST
        /v1/{payment-service}/{payment-product} will also internally generate
        the authorization sub-resource with its own authorization ID.


        This allows the TPP to call the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations to
        list all the authorization IDs (only one ID in case of no multi-level SCA),
        and the GET
        /v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}
        to see the status of the specific SCA.
      operationId: initiatePeriodicPaymentCancellation
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-ID'
      - $ref: '#/components/parameters/PSU-ID-Type'
      - $ref: '#/components/parameters/PSU-Corporate-ID'
      - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
      - $ref: '#/components/parameters/consentId_HEADER_optional'
      - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
      - $ref: '#/components/parameters/TPP-Redirect-Preferred'
      - $ref: '#/components/parameters/TPP-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Nok-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Explicit-Authorisation-Preferred'
      - $ref: "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '202':
          $ref: '#/components/responses/ACCEPTED_202_PaymentCancellationInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/{payment-service}/{payment-product}/{paymentId}/status':
    get:
      summary: Payment initiation status request
      description: Check the transaction status of a payment initiation.
      operationId: getPaymentInitiationStatus
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentService'
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_optional'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_PaymentInitiationStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/{payment-service}/{payment-product}/{paymentId}/authorisations':
    get:
      summary: Get Payment Initiation Authorisation Sub-Resources Request
      description: >
        Read a list of all authorisation subresources IDs which have been
        created.


        This function returns an array of authorisation IDs.


        The array will contain only one authorization ID in case no multilevel
        SCA is used (i.e. where a transaction needs an authorisation by more
        than one PSU, e.g. in a corporate context)
      operationId: getPaymentInitiationAuthorisation
      tags:
      - Payment Initiation Service (PIS)
      parameters:
      - $ref: '#/components/parameters/paymentService'
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_optional'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_Authorisations'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  '/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}':
    get:
      summary: Read the SCA Status of the payment authorisation
      tags:
      - Payment Initiation Service (PIS)
      description: >
        This method returns the SCA status of a payment initiation's
        authorisation sub-resource.


        The authorisation sub-resource was created when the payment was
        initiated via POST /v1/{payment-service}/{payment-product}
      operationId: getPaymentInitiationScaStatus
      parameters:
      - $ref: '#/components/parameters/paymentService'
      - $ref: '#/components/parameters/paymentProduct'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/authorisationId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_optional'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ScaStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /consents:
    post:
      summary: Create consent
      tags:
      - Account Information Service (AIS)
      description: >
        This method create a consent resource, defining access rights to
        dedicated accounts of

        a given PSU-ID.

        Two different ways are supported to specify the accounts and type of consent that is requested.

        * **Detailed**: The accounts are addressed explicitly in the body of the request in the "accounts", "balances" and/or in the "transactions" arrays fields. Please note that a "transactions" or "balances" access right also gives access to the generic /accounts endpoints, i.e. is implicitly supporting also the "accounts" access.

        * **Bank-offered**: The accounts are no addressed in the body of the request. In the request body the "accounts", "balances" and "transactions" sub attribute within the "access" attribute are an empty array. FinecoBank will then agree bilaterally directly with the PSU on which accounts the requested access consent should be supported. The result can be retrieved by the TPP by using the GET Consent Request method.


        Consent requests specified using "allPsd2" and/or "availableAccounts" fields are not supported.


        **Side Effects**

        When this Consent Request is a request where the "recurringIndicator"
        equals "true",

        and if it exists already a former consent for recurring access on
        account information

        for the addressed PSU, then the former consent automatically expires as
        soon as the new

        consent request is authorised by the PSU.

        ## Authorization sub-resource


        Since multi-level SCA is not available, the call to POST
        /v1/consents will also internally generate
        the authorization sub-resource with its own authorization ID.


        This allows the TPP to call the GET
        /v1/consents/{consentId}/authorisations to
        list all the authorization IDs (only one ID in case of no multi-level SCA),
        and the GET
        /v1/consents/{consentId}/authorisations/{authorisationId}
        to see the status of the specific SCA.


      operationId: createConsent
      parameters:
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-ID'
      - $ref: '#/components/parameters/PSU-ID-Type'
      - $ref: '#/components/parameters/PSU-Corporate-ID'
      - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
      - $ref: '#/components/parameters/TPP-Redirect-Preferred'
      - $ref: '#/components/parameters/TPP-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Nok-Redirect-URI'
      - $ref: '#/components/parameters/TPP-Explicit-Authorisation-Preferred'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consents'
            example:
              access:
                balances:
                - iban: IT31X0301503200000003517230
                  currency: EUR
                transactions:
                - iban: IT31X0301503200000003517230
                  currency: EUR
                - maskedPan: 5127 **** **** 8392
                  currency: EUR
              recurringIndicator: 'true'
              validUntil: '2017-11-01'
              frequencyPerDay: '4'
              combinedServiceIndicator: 'false'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_Consents'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/consents/{consentId}':
    get:
      summary: Get Consent Request
      description: >
        Returns the content of an account information consent object.

      tags:
      - Account Information Service (AIS)
      operationId: getConsentInformation
      parameters:
      - $ref: '#/components/parameters/consentId_PATH'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ConsentInformation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
    delete:
      summary: Delete Consent
      tags:
      - Account Information Service (AIS)
      description: The TPP can delete an account information consent object if needed.
      operationId: deleteConsent
      parameters:
      - $ref: '#/components/parameters/consentId_PATH'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '204':
          $ref: '#/components/responses/NO_CONTENT_204_Consents'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/consents/{consentId}/status':
    get:
      summary: Consent status request
      tags:
      - Account Information Service (AIS)
      description: Read the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - $ref: '#/components/parameters/consentId_PATH'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ConsentStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/consents/{consentId}/authorisations':
    get:
      summary: Get Consent Authorisation Sub-Resources Request
      description: >
        Return a list of all authorisation subresources IDs which have been
        created.


        This function returns an array of hyperlinks to all generated
        authorisation sub-resources.
      operationId: getConsentAuthorisation
      tags:
      - Account Information Service (AIS)
      parameters:
      - $ref: '#/components/parameters/consentId_PATH'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_Authorisations'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/consents/{consentId}/authorisations/{authorisationId}':
    get:
      summary: Read the SCA status of the consent authorisation.
      description: >
        This method returns the SCA status of a consent initiation's
        authorisation sub-resource.
      operationId: getConsentScaStatus
      tags:
      - Account Information Service (AIS)
      parameters:
      - $ref: '#/components/parameters/consentId_PATH'
      - $ref: '#/components/parameters/authorisationId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ScaStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  /accounts:
    get:
      summary: Read Account List
      tags:
      - Account Information Service (AIS)
      description: >
        Read the identifiers of the available payment accounts. If 'withBalance' parameter is specified it also returns the booking balance information, depending on the consent granted.


        In order to call this method it is necessary that a consent for the PSU to this access has been already given by the ASPSP.

        The addressed list of accounts depends on the consent addressed by consentId.


        In addition, relevant information about the accounts and hyperlinks to
        corresponding account

        information resources are provided if a related consent has been already
        granted.

      operationId: getAccountList
      parameters:
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountList'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/accounts/{account-id}':
    get:
      summary: Read Account Details
      tags:
      - Account Information Service (AIS)
      description: >
        Read details about an account, with balances if requested.

        It is assumed that a consent of the PSU to

        this access is already given and stored on the ASPSP system.

        The addressed details of this account depends then on the stored consent
        addressed by consentId.

      operationId: readAccountDetails
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/accounts/{account-id}/balances':
    get:
      summary: Read Balance
      tags:
      - Account Information Service (AIS)
      description: >
        Read account balances data from a given account addressed by "account-id".

      operationId: getBalances
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_Balances'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/accounts/{account-id}/transactions':
    get:
      summary: Read transaction list of an account
      tags:
      - Account Information Service (AIS)
      description: >
        Read transaction lists of a given account addressed by "account-id",
        depending on the parameter "bookingStatus" together with balances if requested.


        For a given account, additional parameters are e.g. the attributes "dateFrom" and "dateTo".


        Transactions older than 90 days are returned only if the PSU has given consent
        no more than **20 minutes** before the time of the request.
        Otherwise an error will be returned and a new consent request should be delivered.


        It is possible to retrieve movements no older than 4 years.
      operationId: getTransactionList
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/dateFrom'
      - $ref: '#/components/parameters/dateTo'
      - $ref: '#/components/parameters/bookingStatus'
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountsTransactions'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/accounts/{account-id}/transactions/{resourceId}':
    get:
      summary: Read Account Transaction Details
      description: >
        Read transaction details from a given transaction addressed by
        "resourceId" on a given account addressed by "account-id".


        **Remark:** Please note that the PATH might be already given in detail
        by the corresponding entry of the response of the

        "Read Transaction List" call within the _links subfield.
      operationId: getTransactionDetails
      tags:
      - Account Information Service (AIS)
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_TransactionDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  /card-accounts:
    get:
      summary: Read a list of card accounts
      tags:
      - Account Information Service (AIS)
      description: >
        Read the identifiers of the available card-accounts. If 'withBalance' parameter is specified it also returns the booking balance information, depending on the consent granted.


        In order to call this method it is necessary that a consent for the PSU to this access has been already given by the ASPSP.

        The addressed list of card-accounts depends on the consent addressed by consentId.


        In addition, relevant information about the accounts and hyperlinks to corresponding
        account information resources are provided if a related consent has been already granted.
      operationId: getCardAccount
      parameters:
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CardAccountList'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/card-accounts/{account-id}':
    get:
      summary: Read details about a card account
      tags:
      - Account Information Service (AIS)
      description: >
        Read details about a card account, with balances if requested.

        It is assumed that a consent of the PSU to

        this access is already given and stored on the ASPSP system.

        The addressed details of this account depends then on the stored consent
        addressed by consentId.

      operationId: ReadCardAccount
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CardAccountDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/card-accounts/{account-id}/balances':
    get:
      summary: Read card account balances
      tags:
      - Account Information Service (AIS)
      description: |

        Read balance data from a given card account addressed by
        "account-id".

      operationId: getCardAccountBalances
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CardAccountBalances'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/card-accounts/{account-id}/transactions':
    get:
      summary: Read transaction list of a card account
      tags:
      - Account Information Service (AIS)
      description: |
        Read transaction lists of a given card-account addressed by "account-id",
        depending on the parameter "bookingStatus" together with balances if requested.
        For a given account, additional parameters are e.g. the attribute "dateFrom" and "dateTo".


        This method returns all the transactions for a given month.
        Therefore the "dateFrom" and "dateTo" attributes should be respectively valued with the first date
        and the last date of the month. Otherwise the method returns transactions occurred in the month
        provided in the "dateFrom" attribute.


        Transactions older than 90 days are returned only if the PSU has given consent
        no more than **20 minutes** before the time of the request.
        Otherwise an error will be returned and a new consent request should be delivered.
      operationId: getCardAccountTransactionList
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/dateFromCard'
      - $ref: '#/components/parameters/dateToCard'
      - $ref: '#/components/parameters/bookingStatus'
      - $ref: '#/components/parameters/withBalanceQuery'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CardAccountsTransactions'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/card-accounts/{account-id}/transactions/{resourceId}':
    get:
      summary: Read Card-Account Transaction Details
      tags:
      - Account Information Service (AIS)
      description: >
        Read transaction details from a given transaction addressed by
        "resourceId" on a given card-account addressed by "account-id".


        **Remark:** Please note that the PATH might be already given in detail
        by the corresponding entry of the response of the

        "Read Card-Account Transaction List" call within the _links subfield.
      operationId: getCardTransactionDetails
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/X-Request-ID'
      - $ref: '#/components/parameters/Digest'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/TPP-Signature-Certificate'
      - $ref: '#/components/parameters/consentId_HEADER_mandatory'
      - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
      - $ref: '#/components/parameters/PSU-IP-Port'
      - $ref: '#/components/parameters/PSU-Accept'
      - $ref: '#/components/parameters/PSU-Accept-Charset'
      - $ref: '#/components/parameters/PSU-Accept-Encoding'
      - $ref: '#/components/parameters/PSU-Accept-Language'
      - $ref: '#/components/parameters/PSU-User-Agent'
      - $ref: '#/components/parameters/PSU-Http-Method'
      - $ref: '#/components/parameters/PSU-Device-ID'
      - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CardTransactionDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/funds-confirmations':
    post:
      summary: Confirmation of Funds Request
      tags:
      - Confirmation of Funds Service (PIIS)
      description: >-
        Creates a confirmation of funds request. Checks whether a specific amount is available at point of time of the request on an account linked to a given tuple card issuer(TPP)/card number, or addressed by IBAN and TPP respectively.
        In order to use this method, it is necessary that the PSU has given the related authorization for the TPP through FinecoBank.




        The following rules will apply in interpreting the Confirmation of Funds Request for multicurrency accounts:
          * The additional card number might support the choice of the sub-account.
          * If no card number, but the PSU account identifier is contained: check on default account registered by customer.
          * If no card number but the PSU and the account identifier with currency is contained: check the availability of funds on the corresponding sub-account.
          * If card number and the PSU account identifier is contained:: check on sub-account addressed by card, if the addressed card is registered with one of the sub-accounts.
          * If the card number is not registered for any of the accounts, the card number is ignored.
      operationId: checkAvailabilityOfFunds
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/Digest'
        - $ref: '#/components/parameters/Signature'
        - $ref: '#/components/parameters/TPP-Signature-Certificate'
        - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
        - $ref: '#/components/parameters/PSU-IP-Port'
        - $ref: '#/components/parameters/PSU-Accept'
        - $ref: '#/components/parameters/PSU-Accept-Charset'
        - $ref: '#/components/parameters/PSU-Accept-Encoding'
        - $ref: '#/components/parameters/PSU-Accept-Language'
        - $ref: '#/components/parameters/PSU-User-Agent'
        - $ref: '#/components/parameters/PSU-Http-Method'
        - $ref: '#/components/parameters/PSU-Device-ID'
        - $ref: '#/components/parameters/PSU-Geo-Location'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/confirmationOfFunds'
            example:
              cardNumber: 5127 **** **** 8392
              account:
                iban: IT31X0301503200000003517230
              instructedAmount:
                currency: EUR
                amount: 123
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ConfirmationOfFunds'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIIS'
components:
  schemas:
    accountId:
      description: >-
        This identification is denoting the addressed account, where the
        transaction has been performed.
      type: string
      example: qwer3456tzui7890
    paymentId:
      description: Resource identification of the generated payment initiation resource.
      type: string
      example: 1234-wertiq-983
    consentId:
      description: >
        ID of the corresponding consent object as returned by an Account
        Information Consent Request.
      type: string
      example: '99391c7e-ad88-49ec-a2ad-99ddcb1f7721'
    resourceId:
      description: >
        This identification is given by the attribute resourceId of the
        corresponding entry of a transaction list.
      type: string
      example: 3dc3d5b3-7023-4848-9853-f5400a64e80f
    chargeBearer:
      description: Charge Bearer. ChargeBearerType1Code from ISO20022. Mandatory for target2 and crossborder payment-product.
      type: string
      enum:
        - "DEBT"
        - "CRED"
        - "SHAR"
    transactionStatus:
      description: |
        The transaction status is filled with codes of the ISO 20022 data table:
        - 'ACCC': 'AcceptedSettlementCompleted' -
          Settlement on the creditor's account has been completed.
        - 'ACCP': 'AcceptedCustomerProfile' -
          Preceding check of technical validation was successful.
          Customer profile check was also successful.
        - 'ACSC': 'AcceptedSettlementCompleted' -
          Settlement on the debtor's account has been completed.

          **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed.

          **Warning:** this status is provided for transaction status reasons, not for financial information.
          It can only be used after bilateral agreement.
        - 'ACSP': 'AcceptedSettlementInProcess' -
          All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.
        - 'ACTC': 'AcceptedTechnicalValidation' -
          Authentication and syntactical and semantical validation are successful.
        - 'ACWC': 'AcceptedWithChange' -
          Instruction is accepted but a change will be made, such as date or remittance not sent.
        - 'ACWP': 'AcceptedWithoutPosting' -
          Payment instruction included in the credit transfer is accepted without being posted to the creditor customer's account.
        - 'RCVD': 'Received' -
          Payment initiation has been received by the receiving agent.
        - 'PDNG': 'Pending' -
          Payment initiation or individual transaction included in the payment initiation is pending.
          Further checks and status update will be performed.
        - 'RJCT': 'Rejected' -
          Payment initiation or individual transaction included in the payment initiation has been rejected.
        - 'CANC': 'Cancelled'
          Payment initiation has been cancelled before execution
          Remark: This code is still requested from ISO20022.
        - 'ACFC': 'AcceptedFundsChecked' -
          Preceding check of technical validation and customer profile was successful and an automatic funds check was positive .
          Remark: This code is still requested from ISO20022.
        - 'PATC': 'PartiallyAcceptedTechnical'
          Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.
          Remark: This code is still requested from ISO20022.
      type: string
      enum:
      - ACCC
      - ACCP
      - ACSC
      - ACSP
      - ACTC
      - ACWC
      - ACWP
      - RCVD
      - PDNG
      - RJCT
      - CANC
      - ACFC
      - PATC
      example: ACCP
    transactionFeeIndicator:
      description: >
        If equals 'true', the transaction will involve specific transaction cost
        as shown by the ASPSP in their public price list or as agreed between ASPSP and PSU.

        If equals 'false', the transaction will not involve additional specific
        transaction costs to the PSU.
      type: boolean
    challengeData:
      description: >
        It is contained in addition to the data element 'chosenScaMethod' if
        challenge data is needed for SCA.
      type: object
      properties:
        image:
          type: string
          format: byte
          description: |
            PNG data (max. 512 kilobyte) to be displayed to the PSU,
            Base64 encoding, cp. [RFC4648].
            This attribute is used only, when PHOTO_OTP or CHIP_OTP
            is the selected SCA method.
        data:
          type: string
          description: String challenge data
        imageLink:
          type: string
          format: url
          description: >-
            A link where the ASPSP will provides the challenge image for the
            TPP.
        otpMaxLength:
          type: integer
          description: The maximal length for the OTP to be typed in by the PSU.
        otpFormat:
          type: string
          description: >-
            The format type of the OTP to be typed in. The admitted values are
            "characters" or "integer".
          enum:
          - characters
          - integer
        additionalInformation:
          type: string
          description: |
            Additional explanation for the PSU to explain
            e.g. fallback mechanism for the chosen SCA method.
            The TPP is obliged to show this to the PSU.
    hrefType:
      description: Link to a resource
      type: string
      example: /v1/payments/sepa-credit-transfers/1234-wertiq-983
    hrefTypeAIS:
      description: Link to a resource
      type: string
      example: /v1/consents/{consentId}/status
    accountReference:
      description: |
        Reference to an account by either:
          * IBAN, of a payment accounts, or
          * BBAN, for payment accounts if there is no IBAN, or
          * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or
          * the Primary Account Number (PAN) of a card in a masked form, or
          * an alias to access a payment account via a registered mobile phone number (MSISDN).

        The following attribues are not currently supported:
        * msisdn
      type: object
      properties:
        iban:
          $ref: '#/components/schemas/iban'
        bban:
          $ref: '#/components/schemas/bban'
        pan:
          $ref: '#/components/schemas/pan'
        maskedPan:
          $ref: '#/components/schemas/maskedPan'
        msisdn:
          $ref: '#/components/schemas/msisdn'
        currency:
          $ref: '#/components/schemas/currencyCode'
    cashAccountType:
      description: |
        ExternalCashAccountType1Code from ISO 20022. Attribute currently not supported by FinecoBank.
      type: string
    accountStatus:
      description: >
        Account status. The value is one of the following:
          - "enabled": account is available
          - "deleted": account is terminated
          - "blocked": account is blocked e.g. for legal reasons

      type: string
      enum:
      - enabled
      - deleted
      - blocked
    accountDetails:
      description: |
        At least one of the account reference identifiers will be given
          - iban
          - maskedPan

        The following attribues are not currently supported.
        * bban
        * msisdn
        * name 
        * cashAccountType
        * status
        * bic
        * linkedAccounts
        * usage
        * details
      type: object
      required:
      - currency
      properties:
        resourceId:
          description: >-
            This shall be filled, if addressable resource are created by the
            ASPSP on the /accounts or /card-accounts endpoint.
          type: string
        iban:
          $ref: '#/components/schemas/iban'
        bban:
          $ref: '#/components/schemas/bban'
        msisdn:
          $ref: '#/components/schemas/msisdn'
        currency:
          $ref: '#/components/schemas/currencyCode'
        name:
          description: Name of the account given by the bank or the PSU in online-banking. Attribute currently not used by FinecoBank.
          type: string
          maxLength: 35
        ownerName:
          description: Legal name of the account owner.
          type: string
          maxLength: 140
        product:
          description: 'Product name of the bank for this account, proprietary definition.'
          type: string
          maxLength: 35
        cashAccountType:
          $ref: '#/components/schemas/cashAccountType'
        status:
          $ref: '#/components/schemas/accountStatus'
        bic:
          $ref: '#/components/schemas/bic'
        linkedAccounts:
          description: >-
            Case of a set of pending card transactions, the ASPSP will provide
            the relevant cash account the card is set up on.


            Attribute currently not supported by FinecoBank.
          type: string
          maxLength: 70
        usage:
          description: |
            Attribute currently not supported by FinecoBank. Specifies the usage of the account
              * PRIV: private personal account
              * ORGA: professional account

          type: string
          maxLength: 4
          enum:
          - PRIV
          - ORGA
        details:
          description: |
            Specifications that might be provided by the ASPSP
              - characteristics of the account
              - characteristics of the relevant card.

              Attribute currently not supported by FinecoBank.
          type: string
          maxLength: 140
        balances:
          $ref: '#/components/schemas/balanceList'
        _links:
          $ref: '#/components/schemas/_linksAccountDetails'
    _linksAccountReport:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
      - account
      properties:
        account:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
    _linksCardAccountReport:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
      - cardAccount
      properties:
        cardAccount:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
    _linksTransactionDetails:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
      - transactionDetails
      properties:
        transactionDetails:
          $ref: '#/components/schemas/hrefType'
    _linksAccountDetails:
      description: >
        Links to the account, which can be directly used for retrieving account
        information from this dedicated account.


        Links to "balances" and/or "transactions"


        These links are only supported, when the corresponding consent has been
        already granted.
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      properties:
        balances:
          $ref: '#/components/schemas/hrefType'
        transactions:
          $ref: '#/components/schemas/hrefType'
    debtorName:
      description: Debtor Name
      type: string
      maxLength: 70
      example: Debtor Name
    cardAccountDetails:
      description: |
        Card account details. The following attribues are not currently supported.
        * usage
        * details
        * creditLimit (supported only for credit card)
      type: object
      required:
      - maskedPan
      - currency
      properties:
        resourceId:
          description: >
            This is the data element to be used in the path when retrieving data
            from a dedicated account.

            This shall be filled, if addressable resource are created by the
            ASPSP on the /card-accounts endpoint.
          type: string
        maskedPan:
          $ref: '#/components/schemas/maskedPan'
        currency:
          $ref: '#/components/schemas/currencyCode'
        name:
          description: Name of the account given by the bank or the PSU in online-banking.
          type: string
          maxLength: 35
        ownerName:
          description: Legal name of the account owner.
          type: string
          maxLength: 140
        product:
          description: 'Product name of the bank for this account, proprietary definition.'
          type: string
          maxLength: 35
        status:
          $ref: '#/components/schemas/accountStatus'
        usage:
          description: |
            Attribute currently not used by FinecoBank. Specifies the usage of the account
              * PRIV: private personal account
              * ORGA: professional account
          type: string
          maxLength: 4
          enum:
          - PRIV
          - ORGA
        details:
          description: |
            Attribute currently not used by FinecoBank. Specifications that might be provided by the ASPSP
              - characteristics of the account
              - characteristics of the relevant card
          type: string
          maxLength: 140
        creditLimit:
          $ref: '#/components/schemas/amount'
        balances:
          $ref: '#/components/schemas/balanceList'
        _links:
          $ref: '#/components/schemas/_linksAccountDetails'
    accountList:
      description: |
        List of accounts with details.
      type: object
      required:
      - accounts
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/accountDetails'
    cardAccountList:
      description: |
        List of card accounts with details.
      type: object
      required:
      - cardAccounts
      properties:
        cardAccounts:
          type: array
          items:
            $ref: '#/components/schemas/cardAccountDetails'
    accountReport:
      description: >
        JSON based account report.

        This account report contains transactions resulting from the query
        parameters.


        It returns only the 'booked' transactions list.
        'pending' transactions list is not supported.
      type: object
      required:
      - _links
      properties:
        booked:
          $ref: '#/components/schemas/transactionList'
        pending:
          $ref: '#/components/schemas/transactionList'
        _links:
          $ref: '#/components/schemas/_linksAccountReport'
    cardAccountReport:
      description: >
        JSON based card account report.


        This card account report contains transactions resulting from the query parameters.
      type: object
      required:
      - booked
      - _links
      properties:
        booked:
          $ref: '#/components/schemas/cardTransactionList'
        pending:
          $ref: '#/components/schemas/cardTransactionList'
        _links:
          $ref: '#/components/schemas/_linksCardAccountReport'
    transactionList:
      description: Array of transaction details
      type: array
      items:
        $ref: '#/components/schemas/transactionDetails'
    cardTransactionList:
      description: Array of transaction details
      type: array
      items:
        $ref: '#/components/schemas/cardTransaction'
    transactionDetails:
      description: |
          Transaction details
          The following attributes are not currently used by FinecoBank.
          - entryReference
          - endToEndId
          - exchangeRate
          - debtorAccount
          - remittanceInformationStructured
          - bankTransactionCode
      type: object
      required:
      - transactionAmount
      properties:
        transactionId:
          description: |
            the Transaction Id can be used as access-ID in the API, where more
            details on an transaction is offered.

            If this data attribute is provided this shows that the AIS can get
            access on more details about this transaction using the GET Transaction Details Request.


          type: string
        entryReference:
          description: >
            Is the identification of the transaction as used e.g. for reference
            for deltafunction on application level.

            The same identification as for example used within camt.05x
            messages. Attribute currently not used by FinecoBank.
          type: string
          maxLength: 35
        endToEndId:
          description: Unique end to end identity. Attribute currently not used by FinecoBank.
          type: string
          maxLength: 35
        mandateId:
          description: 'Identification of Mandates, e.g. a SEPA Mandate ID.'
          type: string
          maxLength: 35
        checkId:
          description: Identification of a Cheque.
          type: string
          maxLength: 35
        creditorId:
          description: 'Identification of Creditors, e.g. a SEPA Creditor ID.'
          type: string
          maxLength: 35
        bookingDate:
          $ref: '#/components/schemas/bookingDate'
        valueDate:
          description: >-
            The Date at which assets become available to the account owner in
            case of a credit.
          type: string
          format: date
        transactionAmount:
          $ref: '#/components/schemas/amount'
        exchangeRate:
          $ref: '#/components/schemas/exchangeRateList'
        creditorName:
          $ref: '#/components/schemas/creditorName'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        ultimateCreditor:
          $ref: '#/components/schemas/ultimateCreditor'
        debtorName:
          $ref: '#/components/schemas/debtorName'
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        ultimateDebtor:
          $ref: '#/components/schemas/ultimateDebtor'
        remittanceInformationUnstructured:
          type: string
          maxLength: 140
        remittanceInformationStructured:
          description: >
            Reference as contained in the structured remittance reference
            structure (without the surrounding XML structure).


            Different from other places the content is contained in plain form
            not in form of a structured field.
          type: string
          maxLength: 140
        bankTransactionCode:
          $ref: '#/components/schemas/bankTransactionCode'
        proprietaryBankTransactionCode:
          $ref: '#/components/schemas/proprietaryBankTransactionCode'
        _links:
          $ref: '#/components/schemas/_linksTransactionDetails'
    cardAcceptorCategoryCode:
      description: >
        Card Acceptor Category Code of the Card Acceptor as given in the related
        card transaction.
      type: string
    bankTransactionCode:
      description: >
        Bank transaction code as used by the ASPSP and using the sub elements of
        this structured code defined by ISO 20022.


        This code type is concatenating the three ISO20022 Codes
          * Domain Code,
          * Family Code, and
          * SubFamily Code


        Attribute currently not used by FinecoBank.
      type: string
      example: PMNT-RCDT-ESCT
    proprietaryBankTransactionCode:
      description: >
        Proprietary bank transaction code as used within a community or within
        an ASPSP e.g.

        for MT94x based transaction reports.
      type: string
      maxLength: 35
    cardTransactionId:
      description: Unique end to end identity.
      type: string
      maxLength: 35
    terminalId:
      description: 'Identification of the Terminal, where the card has been used. Attribute currently not used by FinecoBank. '
      type: string
      maxLength: 35
    transactionDate:
      description: Date of the actual card transaction
      type: string
      format: date
    cardTransaction:
      description: "Card transaction information. The following attributes are not currently used by FinecoBank.\n - terminalId \n - exchangeRate \n - originalAmount \n - markupFee \n -markupFeePercentage \n - cardAcceptorId \n - cardAcceptorAddress \n - cardAcceptorCategoryCode \n - transactionDetails \n - proprietaryBankTransactionCode"
      type: object
      required:
      - transactionAmount
      properties:
        cardTransactionId:
          $ref: '#/components/schemas/cardTransactionId'
        terminalId:
          $ref: '#/components/schemas/terminalId'
        transactionDate:
          $ref: '#/components/schemas/transactionDate'
        bookingDate:
          $ref: '#/components/schemas/bookingDate'
        transactionAmount:
          $ref: '#/components/schemas/amount'
        exchangeRate:
          $ref: '#/components/schemas/exchangeRateList'
        originalAmount:
          $ref: '#/components/schemas/amount'
        markupFee:
          $ref: '#/components/schemas/amount'
        markupFeePercentage:
          description: Attribute currently not used by FinecoBank.
          type: string
        cardAcceptorId:
          description: Attribute currently not used by FinecoBank.
          type: string
          maxLength: 35
        cardAcceptorAddress:
          $ref: '#/components/schemas/address'
        cardAcceptorCategoryCode:
          $ref: '#/components/schemas/cardAcceptorCategoryCode'
        maskedPAN:
          $ref: '#/components/schemas/maskedPan'
        transactionDetails:
          description: Attribute currently not used by FinecoBank.
          type: string
          maxLength: 140
        invoiced:
          type: boolean
        proprietaryBankTransactionCode:
          $ref: '#/components/schemas/proprietaryBankTransactionCode'
    exchangeRateList:
      description: Attribute currently not used by FinecoBank. Array of exchange rates.
      type: array
      items:
        $ref: '#/components/schemas/exchangeRate'
    exchangeRate:
      description: Exchange Rate
      type: object
      required:
      - sourceCurrency
      - rate
      - unitCurrency
      - targetCurrency
      - rateDate
      properties:
        sourceCurrency:
          $ref: '#/components/schemas/currencyCode'
        rate:
          type: string
        unitCurrency:
          type: string
        targetCurrency:
          $ref: '#/components/schemas/currencyCode'
        rateDate:
          type: string
          format: date
        rateContract:
          type: string
    balanceType:
      description: |
        The following balance types are defined:
          - "closingBooked":
            Balance type returned only if a date range is specified in the request paramaters. It is the balance of the account at the end of the requested date range.
            It is the sum of the opening booked balance at the beginning of the date range specified and all entries booked
            to the account during date range. **(saldo contabile al termine del periodo specificato)**


          - "expected":
            Balance composed of booked entries and pending items known at the time of calculation,
            which projects the end of day balance if everything is booked on the account and no other entry is posted.

            For card accounts, this is composed of
              - invoiced, but not yet paid entries,
              - not yet invoiced but already booked entries and
              - pending items (not yet booked)

          - "authorised":
            The expected balance together with the value of a pre-approved credit line the ASPSP makes permanently available to the user.

            For card-accounts:

            "money to spend with the value of a pre-approved credit limit on the card account"

          - "openingBooked":
            Balance type returned only if a date range is specified in the request paramaters. It is the book balance of the account at the beginning of the requested date range. **(saldo contabile all'inizio del periodo specificato)**
          - "interimAvailable":
            Available balance calculated in the course of the account servicer's business day,
[...]
