{
  "swagger": "2.0",
  "info": {
    "title": "Alpha Bank - WEB Banking API",
    "description": "The ALPHA WEB Banking Account, Payment and Funds Confirmation APIs are PSD2 Compliant APIs providing information about the accounts (products) of a WEB Banking subscriber of the Alpha Bank, as well as payment initiation functionality. \nBoth account information and lists of transactions can be acquired, along with direct-debits, standing orders, etc.\n",
    "termsOfService": "https://developer.api.alphabank.gr/media/ryzpmllz/alphabankgroupproviderterms.pdf",
    "version": "1.3.4"
  },
  "host": "gw.api.alphabank.eu",
  "basePath": "/api/sandbox",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Provides Account and Transaction information.\n"
    },
    {
      "name": "Payments",
      "description": "This API implements the protocol which is necessary in order a transfer or payment transaction to be initiated and monitored.\n"
    },
    {
      "name": "FundsConfirmation",
      "description": "Provides confirmation for the availability of funds on a specific account.\n"
    },
    {
      "name": "OpenData",
      "description": "Offers access to Open Bank Data including Branch information, ATMs and Currency rates.\n"
    }
  ],
  "paths": {
    "/accounts/v1/account-requests": {
      "post": {
        "summary": "Ask for an account request",
        "tags": [
          "Accounts"
        ],
        "description": "Ask for the generation of an account request. The account request is a 'resource' representing the intent of the client application to ask for account and transaction information. This intent must be authorised by the end user in order for the client to acquire the access-token necessary to call any of the relative API operations. The autorization of the intent is performed using the \"request\" parameter (query argument) at the authorize request. \n",
        "operationId": "CreateAccountRequest",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Create an Account Request",
            "required": true,
            "schema": {
              "title": "Account Request POST request object",
              "description": "Allows setup of an account access request",
              "type": "object",
              "required": [
                "Risk"
              ],
              "properties": {
                "ProductIdentifiers": {
                  "description": "List of Product Identifiers",
                  "type": "array",
                  "items": {
                    "title": "Product Identifier",
                    "description": "Identifies a Bank product owned by the end user",
                    "type": "object",
                    "required": [
                      "AccountCode",
                      "Scheme"
                    ],
                    "properties": {
                      "AccountCode": {
                        "description": "the global identifier of the product (e.g. IBAN, Card number)",
                        "type": "string"
                      },
                      "Scheme": {
                        "description": "Name of the identification scheme (AccountCode scheme)",
                        "type": "string",
                        "enum": [
                          "NA",
                          "Account",
                          "Card"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Risk": {
                  "description": "Risk assessment related information",
                  "title": "Risk",
                  "type": "object",
                  "properties": {
                    "PaymentContextCode": {
                      "description": "Specifies the payment context",
                      "title": "PaymentContextCode",
                      "type": "string",
                      "enum": [
                        "BillPayment",
                        "EcommerceGoods",
                        "EcommerceServices",
                        "Other",
                        "PersonToPerson"
                      ]
                    },
                    "MerchantCategoryCode": {
                      "description": "Category code conforms to ISO 18245, related to the type of services or goods the merchant provides for the transaction",
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 4
                    },
                    "MerchantCustomerIdentification": {
                      "description": "The unique customer identifier of the PSU with the merchant.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 70
                    },
                    "DeliveryAddress": {
                      "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                      "type": "object",
                      "properties": {
                        "AddressLine": {
                          "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 70 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "StreetName": {
                          "description": "Name of a street or thoroughfare",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 70
                        },
                        "BuildingNumber": {
                          "description": "Number that identifies the position of a building on a street.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "PostCode": {
                          "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "TownName": {
                          "description": "Name of a built-up area, with defined boundaries, and a local government.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        },
                        "CountrySubDivision": {
                          "description": "Identifies a subdivision of a country, for instance state, region, county.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 35 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 35
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "Country": {
                          "description": "Nation with its own government, occupying a particular territory.",
                          "type": "string",
                          "pattern": "^[A-Z]{2,2}$"
                        }
                      },
                      "required": [
                        "TownName",
                        "Country"
                      ]
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": false
            }
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "x-jws-signature",
            "type": "string",
            "required": true,
            "description": "Header containing a detached JWS signature of the body of the payload."
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "201": {
            "description": "Account Request resource successfully created",
            "schema": {
              "title": "Account Request POST response",
              "type": "object",
              "required": [
                "AccountRequestId",
                "CreationDateTime"
              ],
              "properties": {
                "AccountRequestId": {
                  "description": "Unique identification as assigned to identify the account request resource.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "Status": {
                  "description": "Specifies the status of the account request resource.",
                  "type": "string",
                  "enum": [
                    "Accepted",
                    "Authorised",
                    "Rejected",
                    "Revoked"
                  ]
                },
                "CreationDateTime": {
                  "description": "Date and time at which the resource was created (in ISO 8601 format).",
                  "type": "string",
                  "format": "date-time"
                },
                "ProductIdentifiers": {
                  "description": "List of Product Identifiers",
                  "type": "array",
                  "items": {
                    "title": "Product Identifier",
                    "description": "Identifies a Bank product owned by the end user",
                    "type": "object",
                    "required": [
                      "AccountCode",
                      "Scheme"
                    ],
                    "properties": {
                      "AccountCode": {
                        "description": "the global identifier of the product (e.g. IBAN, Card number)",
                        "type": "string"
                      },
                      "Scheme": {
                        "description": "Name of the identification scheme (AccountCode scheme)",
                        "type": "string",
                        "enum": [
                          "NA",
                          "Account",
                          "Card"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Risk": {
                  "description": "Risk assessment related information",
                  "title": "Risk",
                  "type": "object",
                  "properties": {
                    "PaymentContextCode": {
                      "description": "Specifies the payment context",
                      "title": "PaymentContextCode",
                      "type": "string",
                      "enum": [
                        "BillPayment",
                        "EcommerceGoods",
                        "EcommerceServices",
                        "Other",
                        "PersonToPerson"
                      ]
                    },
                    "MerchantCategoryCode": {
                      "description": "Category code conforms to ISO 18245, related to the type of services or goods the merchant provides for the transaction",
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 4
                    },
                    "MerchantCustomerIdentification": {
                      "description": "The unique customer identifier of the PSU with the merchant.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 70
                    },
                    "DeliveryAddress": {
                      "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                      "type": "object",
                      "properties": {
                        "AddressLine": {
                          "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 70 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "StreetName": {
                          "description": "Name of a street or thoroughfare",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 70
                        },
                        "BuildingNumber": {
                          "description": "Number that identifies the position of a building on a street.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "PostCode": {
                          "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "TownName": {
                          "description": "Name of a built-up area, with defined boundaries, and a local government.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        },
                        "CountrySubDivision": {
                          "description": "Identifies a subdivision of a country, for instance state, region, county.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 35 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 35
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "Country": {
                          "description": "Nation with its own government, occupying a particular territory.",
                          "type": "string",
                          "pattern": "^[A-Z]{2,2}$"
                        }
                      },
                      "required": [
                        "TownName",
                        "Country"
                      ]
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": false
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "TPPSec": [
              "account-info-setup"
            ]
          }
        ]
      }
    },
    "/accounts/v1/account-requests/{AccountRequestId}": {
      "get": {
        "summary": "Get an account request",
        "tags": [
          "Accounts"
        ],
        "description": "Return the Account Request intent object given its Id.\n",
        "operationId": "GetAccountRequest",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Request resource successfully retrieved",
            "schema": {
              "title": "Account Request GET response",
              "type": "object",
              "required": [
                "AccountRequestId",
                "CreationDateTime",
                "Risk"
              ],
              "properties": {
                "AccountRequestId": {
                  "description": "Unique identification as assigned to identify the account request resource.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "Status": {
                  "description": "Specifies the status of the account request resource.",
                  "type": "string",
                  "enum": [
                    "Authorised",
                    "AwaitingAuthorisation",
                    "Rejected",
                    "Revoked"
                  ]
                },
                "CreationDateTime": {
                  "description": "Date and time at which the resource was created (in ISO 8601 format).",
                  "type": "string",
                  "format": "date-time"
                },
                "ProductIdentifiers": {
                  "description": "List of Product Identifiers",
                  "type": "array",
                  "items": {
                    "title": "Product Identifier",
                    "description": "Identifies a Bank product owned by the end user",
                    "type": "object",
                    "required": [
                      "AccountCode",
                      "Scheme"
                    ],
                    "properties": {
                      "AccountCode": {
                        "description": "the global identifier of the product (e.g. IBAN, Card number)",
                        "type": "string"
                      },
                      "Scheme": {
                        "description": "Name of the identification scheme (AccountCode scheme)",
                        "type": "string",
                        "enum": [
                          "NA",
                          "Account",
                          "Card"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Risk": {
                  "description": "Risk assessment related information",
                  "title": "Risk",
                  "type": "object",
                  "properties": {
                    "PaymentContextCode": {
                      "description": "Specifies the payment context",
                      "title": "PaymentContextCode",
                      "type": "string",
                      "enum": [
                        "BillPayment",
                        "EcommerceGoods",
                        "EcommerceServices",
                        "Other",
                        "PersonToPerson"
                      ]
                    },
                    "MerchantCategoryCode": {
                      "description": "Category code conforms to ISO 18245, related to the type of services or goods the merchant provides for the transaction",
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 4
                    },
                    "MerchantCustomerIdentification": {
                      "description": "The unique customer identifier of the PSU with the merchant.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 70
                    },
                    "DeliveryAddress": {
                      "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                      "type": "object",
                      "properties": {
                        "AddressLine": {
                          "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 70 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "StreetName": {
                          "description": "Name of a street or thoroughfare",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 70
                        },
                        "BuildingNumber": {
                          "description": "Number that identifies the position of a building on a street.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "PostCode": {
                          "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "TownName": {
                          "description": "Name of a built-up area, with defined boundaries, and a local government.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        },
                        "CountrySubDivision": {
                          "description": "Identifies a subdivision of a country, for instance state, region, county.",
                          "type": "array",
                          "items": {
                            "description": "maxLength 35 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 35
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "Country": {
                          "description": "Nation with its own government, occupying a particular territory.",
                          "type": "string",
                          "pattern": "^[A-Z]{2,2}$"
                        }
                      },
                      "required": [
                        "TownName",
                        "Country"
                      ]
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": false
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "TPPSec": [
              "account-info-setup"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete an account request",
        "tags": [
          "Accounts"
        ],
        "description": "Delete an account request",
        "operationId": "DeleteAccountRequest",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "204": {
            "description": "Account Request resource successfully deleted",
            "headers": {
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/details": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get All Accounts",
        "description": "Get all accounts of the authenticated subscriber.",
        "operationId": "GetAllAcounts",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "title": "Account",
                "description": "Account",
                "type": "object",
                "required": [
                  "AccountId",
                  "AccountCode",
                  "Scheme",
                  "ProductTypeCode",
                  "CategoryCode",
                  "AllowDebit",
                  "AllowCredit",
                  "AllowQuery"
                ],
                "properties": {
                  "AccountId": {
                    "description": "A unique and immutable identifier used to identify the account resource. This id is used on any subsequent request as path variable.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "AccountCode": {
                    "description": "An identification code for the account. The values is an IBAN (Account scheme), Card Number (Card Scheme), etc",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "Scheme": {
                    "description": "Name of the identification scheme (AccountCode scheme)",
                    "type": "string",
                    "enum": [
                      "NA",
                      "Account",
                      "Card"
                    ]
                  },
                  "Currency": {
                    "description": "Identification of the currency in which the account is held.",
                    "type": "string",
                    "pattern": "^[A-Z]{3,3}$"
                  },
                  "Alias": {
                    "description": "The alias name of the account, assigned by the account owner in order to provide an additional means of identification of the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "ProductTypeCode": {
                    "description": "The code of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "ProductTypeName": {
                    "description": "The name of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "CategoryCode": {
                    "description": "The code of the account category (the account can be of saving account, loan, etc.).",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "CategoryName": {
                    "description": "The name of the account category.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 70
                  },
                  "AllowDebit": {
                    "description": "Flag to denote if the account can be debited",
                    "type": "boolean"
                  },
                  "AllowCredit": {
                    "description": "Flag to denote if the account can be credited",
                    "type": "boolean"
                  },
                  "AllowQuery": {
                    "description": "Flag to denote if the balance of the account can be acquired",
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/details/cards": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get All Cards",
        "description": "Get all cards of the authenticated subscriber.",
        "operationId": "GetAllAcountsCards",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Cards resources successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "title": "Account",
                "description": "Account",
                "type": "object",
                "required": [
                  "AccountId",
                  "AccountCode",
                  "Scheme",
                  "ProductTypeCode",
                  "CategoryCode",
                  "AllowDebit",
                  "AllowCredit",
                  "AllowQuery"
                ],
                "properties": {
                  "AccountId": {
                    "description": "A unique and immutable identifier used to identify the account resource. This id is used on any subsequent request as path variable.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "AccountCode": {
                    "description": "An identification code for the account. The values is an IBAN (Account scheme), Card Number (Card Scheme), etc",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "Scheme": {
                    "description": "Name of the identification scheme (AccountCode scheme)",
                    "type": "string",
                    "enum": [
                      "NA",
                      "Account",
                      "Card"
                    ]
                  },
                  "Currency": {
                    "description": "Identification of the currency in which the account is held.",
                    "type": "string",
                    "pattern": "^[A-Z]{3,3}$"
                  },
                  "Alias": {
                    "description": "The alias name of the account, assigned by the account owner in order to provide an additional means of identification of the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "ProductTypeCode": {
                    "description": "The code of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "ProductTypeName": {
                    "description": "The name of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "CategoryCode": {
                    "description": "The code of the account category (the account can be of saving account, loan, etc.).",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "CategoryName": {
                    "description": "The name of the account category.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 70
                  },
                  "AllowDebit": {
                    "description": "Flag to denote if the account can be debited",
                    "type": "boolean"
                  },
                  "AllowCredit": {
                    "description": "Flag to denote if the account can be credited",
                    "type": "boolean"
                  },
                  "AllowQuery": {
                    "description": "Flag to denote if the balance of the account can be acquired",
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/details/deposit": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get All Deposit Accounts",
        "description": "Get all deposit accounts of the authenticated subscriber.",
        "operationId": "GetAllAcountsDeposit",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Cards resources successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "title": "Account",
                "description": "Account",
                "type": "object",
                "required": [
                  "AccountId",
                  "AccountCode",
                  "Scheme",
                  "ProductTypeCode",
                  "CategoryCode",
                  "AllowDebit",
                  "AllowCredit",
                  "AllowQuery"
                ],
                "properties": {
                  "AccountId": {
                    "description": "A unique and immutable identifier used to identify the account resource. This id is used on any subsequent request as path variable.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "AccountCode": {
                    "description": "An identification code for the account. The values is an IBAN (Account scheme), Card Number (Card Scheme), etc",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "Scheme": {
                    "description": "Name of the identification scheme (AccountCode scheme)",
                    "type": "string",
                    "enum": [
                      "NA",
                      "Account",
                      "Card"
                    ]
                  },
                  "Currency": {
                    "description": "Identification of the currency in which the account is held.",
                    "type": "string",
                    "pattern": "^[A-Z]{3,3}$"
                  },
                  "Alias": {
                    "description": "The alias name of the account, assigned by the account owner in order to provide an additional means of identification of the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "ProductTypeCode": {
                    "description": "The code of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "ProductTypeName": {
                    "description": "The name of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "CategoryCode": {
                    "description": "The code of the account category (the account can be of saving account, loan, etc.).",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "CategoryName": {
                    "description": "The name of the account category.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 70
                  },
                  "AllowDebit": {
                    "description": "Flag to denote if the account can be debited",
                    "type": "boolean"
                  },
                  "AllowCredit": {
                    "description": "Flag to denote if the account can be credited",
                    "type": "boolean"
                  },
                  "AllowQuery": {
                    "description": "Flag to denote if the balance of the account can be acquired",
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Balances",
        "description": "Get balances related to all customer accounts",
        "operationId": "GetBalances",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances successfully retrieved",
            "schema": {
              "type": "object",
              "required": [
                "Balances"
              ],
              "properties": {
                "Balances": {
                  "description": "the balances for a set of accounts",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "AccountId",
                      "Balances"
                    ],
                    "properties": {
                      "AccountId": {
                        "description": "A unique and immutable identifier used to identify the account resource.",
                        "type": "string"
                      },
                      "Balances": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "Amount",
                            "TimeStamp",
                            "BalanceType"
                          ],
                          "properties": {
                            "Amount": {
                              "type": "object",
                              "description": "Amount of money",
                              "required": [
                                "Value",
                                "Currency"
                              ],
                              "properties": {
                                "Value": {
                                  "type": "number"
                                },
                                "Currency": {
                                  "description": "ISO 4217 currency code",
                                  "type": "string",
                                  "pattern": "^[A-Z]{3,3}$"
                                }
                              },
                              "additionalProperties": false
                            },
                            "CreditDebitIndicator": {
                              "description": "if the balance is credit or debit",
                              "type": "string",
                              "enum": [
                                "Credit",
                                "Debit"
                              ]
                            },
                            "TimeStamp": {
                              "description": "The date-time of the balance in ISO 8601 format",
                              "type": "string"
                            },
                            "BalanceType": {
                              "description": "the type of the balance",
                              "type": "string",
                              "enum": [
                                "Gross",
                                "Available"
                              ]
                            },
                            "CreditLine": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/{AccountId}/details": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account",
        "description": "Get an account",
        "operationId": "GetAccount",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource as returned by the GetAllAcounts operation.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resource successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "title": "Account",
                "description": "Account",
                "type": "object",
                "required": [
                  "AccountId",
                  "AccountCode",
                  "Scheme",
                  "ProductTypeCode",
                  "CategoryCode",
                  "AllowDebit",
                  "AllowCredit",
                  "AllowQuery"
                ],
                "properties": {
                  "AccountId": {
                    "description": "A unique and immutable identifier used to identify the account resource. This id is used on any subsequent request as path variable.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "AccountCode": {
                    "description": "An identification code for the account. The values is an IBAN (Account scheme), Card Number (Card Scheme), etc",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "Scheme": {
                    "description": "Name of the identification scheme (AccountCode scheme)",
                    "type": "string",
                    "enum": [
                      "NA",
                      "Account",
                      "Card"
                    ]
                  },
                  "Currency": {
                    "description": "Identification of the currency in which the account is held.",
                    "type": "string",
                    "pattern": "^[A-Z]{3,3}$"
                  },
                  "Alias": {
                    "description": "The alias name of the account, assigned by the account owner in order to provide an additional means of identification of the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "ProductTypeCode": {
                    "description": "The code of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "ProductTypeName": {
                    "description": "The name of the product type for the account.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "CategoryCode": {
                    "description": "The code of the account category (the account can be of saving account, loan, etc.).",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "CategoryName": {
                    "description": "The name of the account category.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 70
                  },
                  "AllowDebit": {
                    "description": "Flag to denote if the account can be debited",
                    "type": "boolean"
                  },
                  "AllowCredit": {
                    "description": "Flag to denote if the account can be credited",
                    "type": "boolean"
                  },
                  "AllowQuery": {
                    "description": "Flag to denote if the balance of the account can be acquired",
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/{AccountId}/standing-orders": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account standing orders",
        "description": "Get the standing orders defined for the account with basic information. For detailed information about a specific order there is another endpoint to obtain detailed information about a standing order.",
        "operationId": "GetAccountStandingOrders",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource as returned by the GetAllAcounts operation.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Account standing orders successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "StandingOrderId",
                  "Name",
                  "CreditorAccount"
                ],
                "properties": {
                  "StandingOrderId": {
                    "description": "the unique id of the standing order",
                    "type": "string"
                  },
                  "Name": {
                    "description": "a subscriber defined descriptive name for the standing order",
                    "type": "string"
                  },
                  "AccountId": {
                    "description": "the 'representation' Id of the associated account",
                    "type": "string"
                  },
                  "Amount": {
                    "type": "object",
                    "description": "Amount of money",
                    "required": [
                      "Value",
                      "Currency"
                    ],
                    "properties": {
                      "Value": {
                        "type": "number"
                      },
                      "Currency": {
                        "description": "ISO 4217 currency code",
                        "type": "string",
                        "pattern": "^[A-Z]{3,3}$"
                      }
                    },
                    "additionalProperties": false
                  },
                  "CreditorAccount": {
                    "description": "Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the standing order execution.",
                    "title": "Creditor Account",
                    "type": "object",
                    "required": [
                      "SchemeName",
                      "Identification"
                    ],
                    "properties": {
                      "SchemeName": {
                        "description": "Name of the identification scheme, in a coded form as published in an external list.",
                        "title": "SchemeName",
                        "type": "string",
                        "enum": [
                          "NA",
                          "Account",
                          "Card"
                        ]
                      },
                      "Identification": {
                        "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 34
                      },
                      "Name": {
                        "description": "Name of the account, as assigned by the account servicing institution, in agreement with the account owner in order to provide an additional means of identification of the account. Usable only for intra-bank payments.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 70
                      },
                      "SecondaryIdentification": {
                        "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 34
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/{AccountId}/standing-orders/{StandingOrderId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get detailed information about a specific standing order",
        "description": "Get detailed information about a specific standing order. In order to obtain a list of standing orders there is a separate endpoint which provides basic info for each standing order.",
        "operationId": "GetAccountStandingOrdersDetails",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource as returned by the GetAllAcounts operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "StandingOrderId",
            "in": "path",
            "description": "A unique identifier used to identify the standing order resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-ab-bank-id",
            "type": "string",
            "required": true,
            "description": "The unique id of the Alpha Bank to which the request is issued. Use CRBAGRAA for Alpha Bank Greece."
          },
          {
            "in": "header",
            "name": "x-ab-psu-last-logged",
            "type": "string",
            "required": false,
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates."
          },
          {
            "in": "header",
            "name": "x-ab-psu-ip",
            "type": "string",
            "required": false,
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
          },
          {
            "in": "header",
            "name": "x-ab-lang",
            "type": "string",
            "required": false,
            "description": "An ISO 639-1 two letter language code. Only 'el', 'ro' and 'en' values are valid."
          },
          {
            "in": "header",
            "name": "x-ab-interaction-id",
            "type": "string",
            "required": false,
            "description": "An RFC4122 UID used as a correlation id."
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "An Authorisation Bearer Token as per https://tools.ietf.org/html/rfc6750"
          },
          {
            "in": "header",
            "name": "Ocp-Apim-Subscription-Key",
            "type": "string",
            "required": true,
            "description": "The subscription key necessary to access the API endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Account specific standing order successfully retrieved",
            "schema": {
              "type": "object",
              "required": [
                "StandingOrderId",
                "Name",
                "CreditorAccount"
              ],
              "properties": {
                "StandingOrderId": {
                  "description": "the unique id of the standing order",
                  "type": "string"
                },
                "Name": {
                  "description": "a subscriber defined descriptive name for the standing order",
                  "type": "string"
                },
                "AccountId": {
                  "description": "the 'representation' Id of the associated account",
                  "type": "string"
                },
                "Status": {
                  "description": "the status of the standing order",
                  "type": "string",
                  "enum": [
                    "Active",
                    "Inactive"
                  ]
                },
                "DateCreated": {
                  "description": "the date the standing order was created (in ISO 8601 format)",
                  "type": "string"
                },
                "DateStart": {
                  "description": "the date from the standing order is active (in ISO 8601 format)",
                  "type": "string"
                },
                "DateStop": {
                  "description": "the date until the standing order is active (in ISO 8601 format)",
                  "type": "string"
                },
                "NumberOfOccurences": {
                  "description": "number of times the standing order will be executed (supported by Alpha Bank Cyprus only)",
                  "type": "number"
                },
                "Amount": {
                  "type": "object",
                  "description": "Amount of money",
                  "required": [
                    "Value",
                    "Currency"
                  ],
                  "properties": {
                    "Value": {
                      "type": "number"
                    },
                    "Currency": {
                      "description": "ISO 4217 currency code",
                      "type": "string",
                      "pattern": "^[A-Z]{3,3}$"
                    }
                  },
                  "additionalProperties": false
                },
                "CreditorAccount": {
                  "description": "Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the standing order execution.",
                  "title": "Creditor Account",
                  "type": "object",
                  "required": [
                    "SchemeName",
                    "Identification"
                  ],
                  "properties": {
                    "SchemeName": {
                      "description": "Name of the identification scheme, in a coded form as published in an external list.",
                      "title": "SchemeName",
                      "type": "string",
                      "enum": [
                        "NA",
                        "Account",
                        "Card"
                      ]
                    },
                    "Identification": {
                      "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 34
                    },
                    "Name": {
                      "description": "Name of the account, as assigned by the account servicing institution, in agreement with the account owner in order to provide an additional means of identification of the account. Usable only for intra-bank payments.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 70
                    },
                    "SecondaryIdentification": {
                      "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 34
                    }
                  }
                },
                "CreditorReason": {
                  "description": "descriptive text used for the creditor to identify the relative transactions",
                  "type": "string"
                },
                "ExecutionPlan": {
                  "description": "the definition of the periodicity of the standing order",
                  "type": "object",
                  "properties": {
                    "ExecutionMonthlyFrequency": {
                      "description": "every how many months the standing order is executed",
                      "type": "integer"
                    },
                    "ExecutionMonthDay": {
                      "description": "the day of the month the standing order is executed",
                      "type": "integer"
                    }
                  }
                },
                "PreviousExecution": {
                  "description": "described an order execution",
                  "type": "object",
                  "properties": {
                    "Status": {
                      "description": "the execution status of the order",
                      "type": "string",
                      "enum": [
                        "Pending",
                        "Executed"
                      ]
                    },
                    "ExecutionDate": {
                      "description": "the date the order is planed to be executed or already executed (in ISO 8601 format)",
                      "type": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "description": "Amount of money",
                      "required": [
                        "Value",
                        "Currency"
                      ],
                      "properties": {
                        "Value": {
                          "type": "number"
                        },
                        "Currency": {
                          "description": "ISO 4217 currency code",
                          "type": "string",
                          "pattern": "^[A-Z]{3,3}$"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "NextExecution": {
                  "description": "described an order execution",
                  "type": "object",
                  "properties": {
                    "Status": {
                      "description": "the execution status of the order",
                      "type": "string",
                      "enum": [
                        "Pending",
                        "Executed"
                      ]
                    },
                    "ExecutionDate": {
                      "description": "the date the order is planed to be executed or already executed (in ISO 8601 format)",
                      "type": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "description": "Amount of money",
                      "required": [
                        "Value",
                        "Currency"
                      ],
                      "properties": {
                        "Value": {
                          "type": "number"
                        },
                        "Currency": {
                          "description": "ISO 4217 currency code",
                          "type": "string",
                          "pattern": "^[A-Z]{3,3}$"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                }
              }
            },
            "headers": {
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              },
              "x-ab-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number in seconds to wait",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "description": "Error Description",
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "number"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUSec": [
              "account-info"
            ]
          }
        ]
      }
    },
    "/accounts/v1/{AccountId}/direct-debits": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account direct debits",
        "description": "Get the direct debits defined for the account with basic information. For detailed information about a specific direct debit there is another endpoint to obtain detailed information about a direct debit.",
[...]
